@media screen and (max-width: 32em) {
/* !!!!!!--FIRST--!!!!!! */
    .first{
        padding: 2rem 0 14rem 0;
    }
    .header{
        margin: 0 0 12rem 0;
    }
    .logo{
        display: none;
    }
    .first-inside{
        justify-content: center;
    }
    .logo-mobile{
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.05em;
        margin: 0 0 4rem 0;
    }
    .first-headline{
        font-size: 3rem;
        margin: 0 0 2rem 0;
    }
    .first-text{
        font-size: 1.8rem;
        margin: 0 auto 2rem auto;
        width: 80%;
    }
    .first-cent_link{
        width: 28rem;
    }


/* !!!!!!--MEET--!!!!!! */
    .meet{
        padding-bottom: 5.8rem;
    }
    .meet-headline{
        margin: 0 0 2rem 0;
    }
    .meet-list{
        margin: 0 0 2.8rem 0;
        display: flex;
        flex-wrap: wrap;
    }
    .meet-item{
        width: 100%;
    }
    .meet-item__figure{
        width: 28rem;
        margin: 0 auto;
    }
    .meet-item:not(:last-child){
        margin-bottom: 2.8rem;
    }
    /* Меняем ли одно местами */
    .meet-item:nth-child(1){
    }
    .meet-item:nth-child(2){
        order: 2;
    }
    .meet-item:nth-child(3){
        order: 1;
    }
    .meet-item:nth-child(4){
        order: 3;
    }
    .meet-more{
        width: 28rem;
    }
}





@media screen and (min-width: 32.0625em) {
/* !!!!!!--FIRST--!!!!!! */
    .first{
        padding: 3.8rem 0 23.4rem 0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15rem 0;
        padding: 0 4rem;
    }
    .logo{
        margin: 0;
    }
    .first-center{
        width: 85%;
        margin: 0 auto;
    }
    .logo-mobile{
        display: none;
    }
    .first-headline{
        font-size: 5.2rem;
        margin: 0 0 4rem 0;
    }
    .first-text{
        font-size: 2.4rem;
        margin: 0 0 3.4rem 0;
    }
    .first-cent_link{
        width: 22.6rem;
    }


/* !!!!!!--MEET--!!!!!! */
    .meet{
        padding-bottom: 4rem;
    }
    .container{
    }
    .meet-headline{
        margin: 0 0 3.4rem 0;
    }
    .meet-list{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .meet-item{
        /* flex: 0 0 23.6rem; */
        width: 50%;
    }
    .meet-item__figure{
        width: 23.6rem;
        margin: 0 auto;
    }
    .meet-headline3{
    }
    .meet-more{
        width: 28rem;
    }
}





@media screen and (min-width: 46.75em) and (max-width: 58.6875em) {
/* !!!!!!--MEET--!!!!!! */
    .meet-list{
        /* width: 49.2rem; */
        margin: 0 auto 3.6rem auto;
    }
    /* .meet-item{
        width: 50%;
    } */
    .meet-item:not(:nth-last-child(-n+2)){
        margin: 0 0 5.6rem 0;
    }
}





@media screen and (min-width: 58.75em) {
/* !!!!!!--FIRST--!!!!!! */
    .header{
        padding: 0;
    }


/* !!!!!!--MEET--!!!!!! */
    .meet-list{
        margin: 0 0 3.6rem 0;
    }
    .meet-item{
        /* flex: 0 0 22rem; */
        width: 25%;
    }
    .meet-item__figure{
        width: 17rem;
        margin: 0 auto;
    }
}