@import"fonts.css";
@import"vars.css";


body{
    margin: 0;
    padding: 0;
    /* font-size: 1.4rem; */
}
*{
    margin: 0;
    padding: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    max-width: 107rem;
    margin: 0 auto;
}
a{
    color: #fff;
    text-decoration: none;
}
.headline{
}
.wrapper{
    min-width: 32rem;
}






/* !!!!!!--FIRST--!!!!!! */
.first{
    background-color: #1a1915;
    background-image: url('../img/png/first.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo{
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-family: 'MontserratBold', sans-serif;
}
.first-inside{
    display: flex;
    font-family: 'MontserratBold', sans-serif;
    font-size: 1.4rem;
}
.first-center{
    /* width: 80%;
    margin: 0 auto; */
}
.first-ins_link{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.6rem;
    border-radius: 1.9rem;
    transition: .2s;
}
.first-ins_link:hover{
    box-shadow: 0 0 0 0.2rem #ffffff;
}
.first-ins_link:not(:last-child){
    margin: 0 0.4rem 0 0;
}
.first-headline,
.first-text,
.first-cent_link{
    text-align: center;
}
.first-headline{
    color: #fff;
    text-transform: uppercase;
    font-family: 'MontserratBold', sans-serif;
}
.first-cent_link{
    display: block;
}
.first-text{
    color: #fff;
    font-family: 'RobotoLight', sans-serif;
    
    /* width: 85%;
    margin: 0 auto; */
}
.first-cent_link{
    color: #fff;
    display: block;
    background: var(--color-red);
    padding: 1.4rem 0;
    margin: 0 auto;
    border-radius: 2.2rem;
    font-family: 'MontserratBold', sans-serif;
    font-size: 1.4rem;
}





/* !!!!!!--MEET--!!!!!! */
.meet{
    padding-top: 7rem;
}
.meet-headline{
    font-size: 2.2rem;
    color: var(--color-dark);
    text-align: center;
    font-family: 'MontserratBold', sans-serif;
}
.meet-list{
    display: flex;
    flex-wrap: wrap;
}
.meet-item{
    list-style: none;
}
.meet-photo{
    margin: 0 0 2rem 0;

    position: relative;
}
.meet-for-img{
    position: absolute;
    top: 66%;
    left: 59%;
    width: 3.7rem;
    height: 3.7rem;
    border: 0.4rem solid #fff;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .meet-item:nth-child(1) .meet-for-img{
    background: var(--color-red);
}
.meet-item:nth-child(2) .meet-for-img{
    background: #1cd7ad;
}
.meet-item:nth-child(3) .meet-for-img{
    background: #ffa507;
}
.meet-item:nth-child(4) .meet-for-img{
    background: #4e73db;
} */
.bg1{
    background: var(--color-red);
}
.bg2{
    background: #1cd7ad;
}
.bg3{
    background: #ffa507;
}
.bg4{
    background: #4e73db;
}

.meet-for-img::after{
    content: '';
    background-image: url(../img/png/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
/* Sprit.Start--> */
.sprite-icon1::after {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-position: -0.5rem -0.5rem;
}
.sprite-icon2::after {
    content: '';
    width: 1.6rem;
    height: 1.7rem;
    background-position: -3.1rem -0.5rem;
}
.sprite-icon3::after {
    content: '';
    width: 1.3rem;
    height: 1.6rem;
    background-position: -5.7rem -0.5rem;
}
.sprite-icon4::after {
    content: '';
    width: 1.7rem;
    height: 1.6rem;
    background-position: -0.5rem -3.2rem;
}
/* Sprit.Finish */
.meet-img{
    border-radius: 50%;
    margin: 0 auto;
}
.meet-headline3{
    text-align: center;
    margin: 0 0 1.6rem 0;
    font-size: 1.4rem;
    color: var(--color-dark);
    font-family: 'MontserratBold', sans-serif;
}
.meet-text{
    text-align: center;
    color: var(--color-light);
    font-family: 'RobotoLight', sans-serif;
    font-size: 1.4rem;
}
.meet-more{
    color: var(--color-red);
    border: 0.2rem solid var(--color-red);
    border-radius: 2.4rem;
    background: transparent;
    padding: 1.4rem 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'MontserratBold', sans-serif;
    font-size: 1.4rem;
}