@media screen and (max-width: 747px) {
    .meet-item:not(:last-child){
        margin-bottom: 28px;
    }
}





@media screen and (min-width: 748px) {
/* !!!!!!--FIRST--!!!!!! */
    .container{
        width: var(--wpapper-tablet);
    }
    .first{
        padding: 226px 0 234px 0;
    }
    .header{
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* margin: 0 0 150px 0; */
        /* padding: 0 40px; */
        top: 40px;
    }
    .for-container-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        margin: 0;
        display: block;
    }
    .first-center{
        width: 520px;
        margin: 0 auto;
    }
    .logo-mobile{
        display: none;
    }
    .first-headline{
        font-size: 52px;
        margin: 0 0 40px 0;
    }
    .first-text{
        font-size: 24px;
        margin: 0 0 34px 0;
    }
    .first-cent_link{
        width: 226px;
    }


/* !!!!!!--MEET--!!!!!! */
    .meet{
        padding-bottom: 40px;
    }
    .container{
    }
    .meet-headline{
        margin: 0 0 34px 0;
    }
    .meet-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .meet-item{
        flex: 0 0 236px;
        margin: 0;
    }
    /* Меняем ли одно местами */
    .meet-item:nth-child(1){
    }
    .meet-item:nth-child(2){
        order: 0;
    }
    .meet-item:nth-child(3){
        order: 0;
    }
    .meet-item:nth-child(4){
        order: 0;
    }
    .meet-headline3{
    }
    .meet-more{
        width: 192px;
    }
}





@media screen and (min-width: 748px) and (max-width: 939px) {
/* !!!!!!--MEET--!!!!!! */
    .meet-list{
        width: 492px;
        margin: 0 auto 36px auto;
    }
    .meet-item:not(:nth-last-child(-n+2)){
        margin-bottom: 56px;
    }
}





@media screen and (min-width: 940px) {
/* !!!!!!--FIRST--!!!!!! */
    .container{
        width: var(--wpapper-desktop);
    }
    .header{
        padding: 0;
    }


/* !!!!!!--MEET--!!!!!! */
    .meet-list{
        margin: 0 0 36px 0;
    }
    .meet-item{
        flex: 0 0 220px;
    }
}