@import"vars.css";
@import"fonts.css";

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    width: var(--wpapper-mobile);
    margin: 0 auto;
}
a{
    color: #fff;
    text-decoration: none;
}
.headline{
}





/* !!!!!!--FIRST--!!!!!! */
.first{
    background-color: #1a1915;
    background-image: url('../img/png/first.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo{
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: 'MontserratBold', sans-serif;
}
.first-inside{
    display: flex;
    font-family: 'MontserratBold', sans-serif;
}
.first-ins_link{
    display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 19px;
    transition: .2s;
}
.first-ins_link:hover{
    box-shadow: 0 0 0 2px #ffffff;
}
.first-ins_link:not(:last-child){
    margin: 0 4px 0 0;
}
.first-headline,
.first-text,
.first-cent_link{
    text-align: center;
}
.first-headline{
    color: #fff;
    text-transform: uppercase;
    font-family: 'MontserratBold', sans-serif;
}
.first-cent_link{
    display: block;
}
.first-text{
    color: #fff;
    font-family: 'RobotoLight', sans-serif;
}
.first-cent_link{
    color: #fff;
    display: block;
    background: var(--color-red);
    /* min-height: 40px; */
    padding: 14px 0;
    margin: 0 auto;
    border-radius: 22px;
    font-family: 'MontserratBold', sans-serif;
}





/* !!!!!!--MEET--!!!!!! */
.meet{
    padding-top: 70px;
}
.meet-headline{
    font-size: 22px;
    color: var(--color-dark);
    text-align: center;
    font-family: 'MontserratBold', sans-serif;
}
.meet-item{
    list-style: none;
}
.meet-photo{
    margin: 0 0 20px 0;

    position: relative;
}
.meet-for-img{
    position: absolute;
    top: 66%;
    left: 59%;
    width: 37px;
    height: 37px;
    border: 4px solid #fff;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .meet-item:nth-child(1) .meet-for-img{
    background: var(--color-red);
}
.meet-item:nth-child(2) .meet-for-img{
    background: #1cd7ad;
}
.meet-item:nth-child(3) .meet-for-img{
    background: #ffa507;
}
.meet-item:nth-child(4) .meet-for-img{
    background: #4e73db;
} */
.bg1{
    background: var(--color-red);
}
.bg2{
    background: #1cd7ad;
}
.bg3{
    background: #ffa507;
}
.bg4{
    background: #4e73db;
}

.meet-for-img::after{
    content: '';
    background-image: url(../img/png/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
/* Sprit.Start--> */
.sprite-icon1::after {
    content: '';
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}
.sprite-icon2::after {
    content: '';
    width: 16px;
    height: 17px;
    background-position: -31px -5px;
}
.sprite-icon3::after {
    content: '';
    width: 13px;
    height: 16px;
    background-position: -57px -5px;
}
.sprite-icon4::after {
    content: '';
    width: 17px;
    height: 16px;
    background-position: -5px -32px;
}
/* Sprit.Finish */
.meet-img{
    border-radius: 50%;
    margin: 0 auto;
	
	height: 122px;
}
.meet-headline3{
    text-align: center;
    margin: 0 0 16px 0;
    font-size: 14px;
    color: var(--color-dark);
    font-family: 'MontserratBold', sans-serif;
}
.meet-text{
    text-align: center;
    color: var(--color-light);
    font-family: 'RobotoLight', sans-serif;
}
.meet-more{
    color: var(--color-red);
    border: 2px solid var(--color-red);
    border-radius: 24px;
    background: transparent;
    padding: 14px 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'MontserratBold', sans-serif;
}