body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.clearfix:after {
	content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 1110px;
    margin: 0 auto;
}


					/* !!!!!!--HEADER--!!!!!! */
/* LOGO */
.header{
	position: relative;
    padding: 42px 0 0 0;
    margin: 0 0 32px 0;
}
.header:before{
	position: absolute;
	content: '';
	display: inline-block;
	height: 160px;
	width: 160px;
	top: 52px;
	left: 40px;
	transform: translate(-50%, -50%);
	border: 100px solid rgba(26,188,156, 0);
	border-radius: 50%;
	/* animation: border-go 5s 1s infinite; */
	z-index: -1;
}
/* @keyframes border-go{
	0%{
		border: 100px solid rgba(26,188,156, 0);
	}
	25%{
		border: 110px solid rgba(26,188,156, 0.1);
	}
	100%{		
		height: 270px;
		width: 270px;
		border: 140px solid rgba(26,188,156, 0);
	}
} */
.a-logo{
    float: left;
    text-decoration: none;
    line-height: 1;
	animation: logo-down .5s .25s forwards;
	transform: translateY(-200px);
}
@keyframes logo-down{
	0%{
		
	}
	100%{
		transform: translateY(0);
	}
}
.h1-logo{
    margin: 0;
    line-height: 1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #555252;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -0.02em;
}
.h1-logo::first-letter{
    color: #1abc9c;
    font-weight: 900;
}


/* MENU-TOP */
.menu-top{
    float: right;
    margin: 7px 0 0 0;
}
.menu-top__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-item{
    float: left;
    line-height: 1;
}
.list-link{
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    transition: .1s;
}
.list-item:not(:last-child) .list-link{
    padding: 0 16px 0 0;
}
.list-item:not(:first-child) .list-link{
    padding-left: 16px;
}
.list-link:focus,
.list-link:hover{
    color: #1abc9c;
}

                    /* !!!!!!--SLIDER--!!!!!! */
.slider{
    position: relative;
}
.button-slider{
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171, .65);
    border: none;
    z-index: 1;
    transition: background-color 0.2s;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.button-slider:focus,
.button-slider:hover{
    background-color: rgba(78, 198, 171, 1);
    cursor: pointer;
}
.button-slider-prev{
    /* right: 50%; */
    left: calc(50% - 555px);
    background-image: url(../img/icon-png/prev.png);
}
.button-slider-next{
    /* left: 50%; */
    right: calc(50% - 555px);
    background-image: url(../img/icon-png/next.png);
}
.slider-list{
    padding: 0;
    margin: 0;
}
.clader-item{
    position: relative;
    overflow: hidden;
}
.clader-item::before{
    content: '';
    position: absolute;
    /* width: 1600px; */
	width: 100%;
    height: 100%;
    background: rgba(0,0,0, .52);
	/* left: 50%; */
    /* transform: translateX(-50%); */
}
.img-slider{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 15%;
	/* position: relative;
	margin: 0 auto; */
}
.text-slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.02em;
	text-align: center;
	box-sizing: border-box;
	padding: 0 124px;
}
.headline-slider{
    margin: 0;
    padding: 0;
    /* margin: 0 0 72px 0; */
    margin: 0 0 38px 0;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;

    transform: translateX(1000px);
    opacity: 0;
    animation: anim .5s forwards;
}
.p-slider{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;

    transform: translateX(1000px);
    opacity: 0;
    animation: anim 0.8s .1s ease-out forwards;
}
@keyframes anim{
    0%{

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}



                    /* !!!!!!--New-collection--!!!!!! */
.new-collection{
    padding: 100px 0 0 0;
    background: #e9f0fd;
}
.headline{
    padding: 0;
    margin: 0 0 120px 0;
    color: #515151;
    font-size: 48px;
    font-family: ;
    font-weight: ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.list-collection{
    padding: 0;
    margin: 0;
    list-style: none;
}
.item-collection{
    float: left;
    width: 255px;
    height: 322px;
    margin: 0 0 98px 0;
    position: relative;
}
.item-collection::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: 235px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0);
    transform: scale(0, 1);
    transition: 0.35s;
}
.item-collection:focus::after,
.item-collection:hover::after{
    background-color: rgba(0, 0, 0, .55);
    /* cursor: pointer;cursor: pointer; */
    transform: scale(1, 1);
}
.item-collection:not(:nth-child(4n)){
    margin: 0 30px 0 0;
}
.a-in-item{
    display: block;
}
.icons-bottom{
    position: absolute;
    top: 90px;
    left: 50%;
    font-size: 0;
    transform: translateX(-50%);
    z-index: 1;

    opacity: 0;
    transition: .2s;
}
.item-collection:focus .icons-bottom,
.item-collection:hover .icons-bottom{
    /* cursor: pointer; */
    opacity: 1;
    transition: .35s;
    transition-delay: .1s;
}

.icon-collection{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background: transparent;
    transition: background-color .2s;
    background-repeat: no-repeat;
    background-position: center;
	cursor: pointer;
}
.icon-collection:nth-child(-n+2){
    margin-right: 8px;
}
.icon-collection:nth-child(-n+3){
    margin-bottom: 8px;
}
.icon-collection-like{
    background-image: url(../img/icon-png/like.png);
}
.icon-collection-arrows{
    background-image: url(../img/icon-png/arrows.png);
}
.icon-collection-clock{
    background-image: url(../img/icon-png/clock.png);
}
.button-collection{
    display: inline-block;
    padding: 0;
    min-width: 166px;
    min-height: 50px;
    font-size: 16px;
    background: #323232;
    box-sizing: border-box;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .2s;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.icon-collection:focus,
.button-collection:focus,
.icon-collection:hover,
.button-collection:hover{
    background-color: #1abc9c;
    border: none;
}
.text-products{
    position: absolute;
    bottom: 0;
    background: #323232;
    color: #fff;
    /* padding: 0 0 0 14px; */
    /* width: calc(100% - 14px); */
	width: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    transition: .2s;
}
.item-collection:focus .text-products,
.item-collection:hover .text-products{
    background: #1abc9c;
}
.text-products__link{
	padding: 0 0 0 14px;
	color: #fff;
	display: block;
}
.text-collection{
    float: left;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase;
}
.ptice-collection{
    float: right;
    line-height: 40px;
    background: rgba(255,255,255, .44);
    width: 54px;
    text-align: center;
}








                    /* !!!!!!--Footer--!!!!!! */
footer{
    height: 50px;
    background: #323232;
    min-height: 88px;
}
.text-footer{
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 88px;
    color: #fefefe;
}
.span-footer{
    color: #46bfa9;
}