.cont-touch-svg__svg{
    fill: map-get($color, for-white);
 
    &--icon-find{
       @include width-height(18px, 18px);
    }
    &--icon-shopping-cart{
       @include width-height(18px, 15px);
    }
 }
 .cont-touch-svg__button-search{
    border: none;
    background: transparent;
    cursor: pointer;
 
    &:hover .cont-touch-svg__svg{
       transition: .2s;
       fill: map-get($color, for-yellow);
    }
 }