.cont-services__title{
    text-transform: uppercase;
    color: map-get($color, dark-gray);
    font-family: $MontserratRegular;
    margin: 0 0 20px 0;
 }
 .cont-services__text{
    font-family: $RobotoRegular;
    line-height: 24px;
 }