.figcaption-team__title{
    font-family: $MontserratRegular;
    font-size: 14px;
    text-transform: uppercase;
    color: map-get($color, dark-gray);
    margin: 0 0 12px 0;
 }
 .figcaption-team__text{
    font-family: $RobotoLightItalic;
 }