.form{
    font-size: 0;
 
    &__button{
       font-size: 14px;
       @include width-height(150px, 40px);
       border: none;
       background: map-get($color, lig-green);
    }
 }
 .form__input-email{
    font-size: 14px;
    @include width-height(230px, 40px);
    border: 1px solid #e7e7e7;
    border-right: none;
    padding: 0 0 0 12px;
    color: map-get($color, main-gray);
    font-family: $RobotoLightItalic;
 
    &--placeholder::placeholder{
       color: map-get($color, light-gray);
    }
 }