.social-list{
    display: flex;
 }
 .social-list__item{
    @include width-height(56px, 56px);
    background: map-get($color, for-yellow);
 
    &:hover{
       background: map-get($color, good-red);
       transition: .2s;
    }
    &:not(:last-child){
       margin: 0 1px 0 0;
    }
 }
 .social-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 .social-list__svg{
    fill: map-get($color, good-red);
 
    &--facebook{
       @include width-height(13px, 26px);
    }
    &--twitter{
       @include width-height(26px, 22px);
    }
    &--printerest{
       @include width-height(21px, 26px);
    }
    &--instagram{
       @include width-height(26px, 26px);
    }
 }
 .social-list__item:hover .social-list__svg{
    fill: map-get($color, for-white);
    transition: .2s;
 }