$color: (
    for-white: #fff,

    for-yellow: #fce38a,
    good-red: #f38181,
    lig-green: #95e1d3,

    dark-gray: #333333,
    main-gray: #999999,
    light-gray: #ccc
);

$KaushanScript: 'KaushanScript', sans-serif;
$MontserratBold: 'MontserratBold', sans-serif;
$MontserratRegular: 'MontserratRegular', sans-serif;
$RobotoLightItalic: 'RobotoLightItalic', sans-serif;
$RobotoRegular: 'RobotoRegular', sans-serif;