$color: (
    for-white: #fff,

    for-yellow: #fce38a,
    good-red: #f38181,
    lig-green: #95e1d3,

    dark-gray: #333333,
    main-gray: #999999,
    light-gray: #ccc
);

$forTitleUp: 'KaushanScript', sans-serif;
$forTitleDown: 'MontserratBold', sans-serif;
$secondText: 'MontserratRegular', sans-serif;
$forTeamName: 'RobotoLightItalic', sans-serif;
$mainText: 'RobotoRegular', sans-serif;
