@media screen and (max-width: 747px) {
    .header-inside{
        width: 100%;
    }
    .meet-item:not(:last-child){
        margin-bottom: 28px;
    }
}





@media screen and (min-width: 748px) {
/* !!!!!!--HEADER--!!!!!! */
    .header{
        top: 40px;
    }
    .logo{
        margin: 0;
        display: block;
    }


/* !!!!!!--FIRST--!!!!!! */
    .first{
        padding: 226px 0 234px 0;
    }
    .logo-mobile{
        display: none;
    }
    .first-headline{
        font-size: 52px;
        margin: 0 0 40px 0;
    }
    .first-text{
        font-size: 24px;
        margin: 0 0 34px 0;
    }
    .first-cent_link{
        width: 226px;
    }


/* !!!!!!--MEET--!!!!!! */
    .meet{
        padding-bottom: 40px;
    }
    .meet-headline{
        margin: 0 0 34px 0;
    }
    .meet-item__figure{
        width: 236px;
    }
    /* Меняем ли одно местами */
    .meet-item:nth-child(1){
    }
    .meet-item:nth-child(2){
        order: 0;
    }
    .meet-item:nth-child(3){
        order: 0;
    }
    .meet-item:nth-child(4){
        order: 0;
    }
    .meet-more{
        width: 192px;
    }
}





@media screen and (min-width: 748px) and (max-width: 939px) {
/* !!!!!!--MEET--!!!!!! */
    .meet-list{
        margin: 0 auto 36px auto;
    }
    .meet-item:not(:nth-last-child(-n+2)){
        margin-bottom: 56px;
    }
}





@media screen and (min-width: 940px) {
/* !!!!!!--MEET--!!!!!! */
    .meet-item__figure{
        width: 220px;
    }
}