@import"vars.css";
@import"fonts.css";

body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}



.button{
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-family: 'MontserratBold', sans-serif;
}

.title-up{
    text-transform: capitalize;
    font-family: 'KaushanScript', sans-serif;
    font-weight: 400;
    display: block;
}
.title-down{
    text-transform: uppercase;
    font-family: 'MontserratBold', sans-serif;
    display: block;
}

.section-title{
    text-align: center;
    color: #333333;
    margin: 0 0 100px 0;
    position: relative;
}
.section-title::after{
    content: '';
    position: absolute;
    bottom: -44px;
    left: 50%;
    transform: translateX(-50%);
    background: #f38181;
    width: 60px;
    height: 3px;
}
.title-up__section{
    display: block;
    font-size: 24px;
    margin: 20px;
}
.title-down__section{
    display: block;
    font-size: 30px;
}

.overflay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9));
    opacity: 0;
    transition: .2s;
}
.team__item:hover .overflay::before{
    opacity: 1;
}



/* !!!!!!-- HEADER --!!!!!! */
.header{
    /* background: yellow; */
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}
.header__container{
    /* background: #ccc; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo */
.logo__link{
    color: #fff;
    font-family: 'MontserratBold', sans-serif;
}
/* Navigation */
.header__navigation{
    display: flex;
}
.site-navigation__list{
    display: flex;
}
.site-navigation__item{
    position: relative;
}
.site-navigation__item:not(:last-child){
    margin: 0 50px 0 0;
}
.site-navigation__item::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 3px;
    background: #fce38a;
    opacity: 0;
}
.site-navigation__item:hover::before{
    opacity: 1;
    bottom: -12px;
    transition: .2s;
    width: 100%;
}
.site-navigation__link{
    font-family: 'MontserratRegular', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.site-navigation__link:hover{
    color: #fce38a;
    transition: .2s;
}
/* Touch */
.site-navigation__cont-touch-svg{
    display: flex;
    padding: 0 0 0 40px;
}
.cont-touch-svg__link{
    margin: 0 40px 0 0;
}
.cont-touch-svg__svg{
    fill: #fff;
}
.cont-touch-svg__svg--icon-find{
    width: 18px;
    height: 18px;
}
.cont-touch-svg__link:hover .cont-touch-svg__svg{
    fill: #fce38a;
    transition: .2s;
}
.cont-touch-svg__button-search{
    border: none;
    background: transparent;
    cursor: pointer;
}
.cont-touch-svg__svg--icon-shopping-cart{
    width: 18px;
    height: 15px;
}
.cont-touch-svg__button-search:hover .cont-touch-svg__svg{
    transition: .2s;
    fill: #fce38a;
}





/* !!!!!!-- FACE --!!!!!! */
.face{
    background: linear-gradient(0deg, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9)),
                url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 230px 0;
}
@media (min-resolution: 192dpi), (min-resolution: 192dppx){
    .face{
        background: url('../img/bg@2x.jpg');
    }
}
.face__title{
    text-align: center;
    color: #fff;
    width: 820px;
    margin: 0 auto 120px auto;
}
.face__title-up{
    font-size: 72px;
}
.face__title-down{
    font-size: 140px;
}
.face__button{
    display: block;
    margin: 0 auto;
    border: 3px solid #fff;
    background: transparent;
    padding: 12px 30px;
}





/* !!!!!!-- SERVICES --!!!!!! */
.services{
    padding: 40px 0 0 0;
}
.services__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services__item{
    display: flex;
    flex: 0 0 380px;
    padding: 0 0 0 24px;
}
.services__item:not(:nth-last-child(-n+3)){
    margin: 0 0 100px 0;
}
.services__svg{
    fill: #95e1d3;
    flex-shrink: 0;
    margin: 0 24px 0 0;
}
.services__svg--icon-alarm{
    width: 32px;
    height: 31px;
}
.services__svg--icon-line{
    width: 32px;
    height: 32px;
}
.services__svg--icon-computer{
    width: 32px;
    height: 28px;
}
.services__svg--icon-book{
    width: 32px;
    height: 32px;
}
.services__svg--icon-home{
    width: 32px;
    height: 31px;
}
.services__svg--icon-image{
    width: 32px;
    height: 32px;
}
.cont-services__title{
    text-transform: uppercase;
    color: #333333;
    font-family: 'MontserratRegular', sans-serif;
    margin: 0 0 20px 0;
}
.cont-services__text{
    font-family: 'RobotoRegular', sans-serif;
    line-height: 24px;
}





/* !!!!!!-- TEAM --!!!!!! */
.team{
    padding: 90px 0 80px 0;
}
.team__text{
    text-align: center;
    line-height: 24px;
    width: 980px;
    margin: 0 auto 80px auto;
    font-family: 'RobotoRegular', sans-serif;
}
.team__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team__item{
    width: 380px;
}
.item-team__cont{
    position: relative;
    margin: 0 0 30px 0;
    background: #95e1d3;
}
.item-team__photo{
    position: relative;
    top: 0;
    left: 0;
    transition: .2s;
}
.team__item:hover .item-team__photo{
    top: -10px;
    left: -10px;
}
.social-list{
    display: flex;
    list-style: none;
}
.item-team__social-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    opacity: 0;
}
.team__item:hover .item-team__social-list{
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    opacity: 1;
}
.social-list__item{
    width: 56px;
    height: 56px;
    background: #fce38a;
}
.social-list__item:hover{
    background: #f38181;
    transition: .2s;
}
.social-list__item:not(:last-child){
    margin: 0 1px 0 0;
}
.social-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.social-list__svg{
    fill: #f38181;
}
.social-list__item:hover .social-list__svg{
    fill: #FFF;
    transition: .2s;
}
.social-list__svg--facebook{
    width: 13px;
    height: 26px;
}
.social-list__svg--twitter{
    width: 26px;
    height: 22px;
}
.social-list__svg--printerest{
    width: 21px;
    height: 26px;
}
.social-list__svg--instagram{
    width: 26px;
    height: 26px;
}
.item-team__figcaption{
    text-align: center;
}
.figcaption-team__title{
    font-family: 'MontserratRegular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 12px 0;
}
.figcaption-team__text{
    font-family: 'RobotoLightItalic', sans-serif;
}





/* !!!!!!--FOOTER--!!!!!! */
.footer{
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    font-family: 'MontserratRegular', sans-serif;
    color: #333333;
}
.footer__text-link{
    color: #f38181;
    text-decoration: none;
}
.form{
    font-size: 0;
}
.form__input-email{
    font-size: 14px;
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    border-right: none;
    padding: 0 0 0 12px;
    color: #999999;
    font-family: 'RobotoLightItalic', sans-serif;
}
.form__input-email--placeholder::placeholder{
    color: #cccccc;
}
.form__button{
    font-size: 14px;
    width: 150px;
    height: 40px;
    border: none;
    background: #95e1d3;
}