%button{
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-family: $MontserratBold;
}
%list{
    margin: 0;
    padding: 0;
    list-style: none;
}
%link{
    text-decoration: none;
}